<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">


<h1 style="color:Tomato;">ABOUT US</h1>
<p style="color:MediumSeaGreen;">We are a group of highschool students with a passion for
   biotechnology, and the intersection between biology and 
   computer science. This website is designed to teach newcomers
   with little programming experience about the process of using
   python to code programs that are used by professionals in fields such
   as healthcare and biological engineering.
   
   Our names are, Rushil Shah, Prabhas Gade, Athulya saravankumar, Zarik Khan, (sorry idk everyone else's name u can input them, before my name)</p>


</body>
</html>
