<!DOCTYPE html>
<html>
<body style="background-color:MediumSeaGreen;">

<h1 style="color:tomato">ABOUT US</h1>
<p style="color:rgb(0, 99, 167);">  Some great resources to start your introduction to the world of Biotechology
</p>
<a href="https://coding4medicine.com/backup/Python/introduction.html">Our organization's very own textbook!</a>
<h2></h2>
<a href="http://rosalind.info/problems/list-view/">Phenomenal resource for learning about biotech through biotechnology problems!</a>
<h3></h3>
<a href="https://www.w3schools.com/python/">Great source for learning Python step by step</a>
<h4></h4>


</body>
</html>
